{% extends 'base.html' %}
{% block content %}

<h1>Posty</h1>
<hr>
<ul>
{% for post in object_list %}
<div class="card">
  <div class="card-header">
    {{post.tytul}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{ post.tresc|truncatechars:180 }}</p>
      <footer class="blockquote-footer">{{post.id_autora}} </footer>
    </blockquote>
  </div>
</div>
  <br><br/>
      <a href="{%url 'post-widok' post.pk %}" class="btn btn-info">Czytaj</a>
      {% ifequal user.groups.all.0.name "Admini" %}
            <a href="{% url 'edytuj_post' post.pk %}" class="btn btn-info" style="margin-left:15px;">Edytuj</a>
      <a href="{% url 'usun_post' post.pk %}" class="btn btn-info" style="margin-left:15px;">Usun</a>{% endifequal %}
    <hr>
{%endfor%}
</ul>

{%endblock%}
