{% extends 'base.html' %}
{%block content%}
<h1> {{post.tytul}} </h1>
<small> Przez: {{post.id_autora}} </small>
<hr>
<br/>
<h3>{{post.tresc}}<h3/>
  <br>
  <h2> Komentarze: </h2>
  <hr>
  {%if not post.comments.all%}
    <h3> brak komentarzy. </h3>
    <a href="{%url 'dodaj_komentarz' post.pk %}">Dodaj Komentarz</a>
    {%else%}
      {%for komentarz in post.comments.all%}
        <h6>Autor: {{komentarz.id_user}} </h6>
        <br>
        <h5>{{komentarz.tresc}}</h5>
        <br>
        <hr>
      {%endfor%}
    {%endif%}
<a href="{%url 'dodaj_komentarz' post.pk %}">Dodaj Komentarz</a>
{%endblock%}
